

.team {
  text-align: center;
  margin-bottom: 30px; }
  .team .team-image {
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    display: inline-block; }
    .team .team-image img {
      display: block; }
  .team .team-name {
    font-size: 21px;
    font-size: 1.3125em;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0; }
  .team .team-desc {
    font-size: 16px;
    font-size: 1em; }
 
  .team.image-left {
    padding-left: 370px;
    position: relative;
    min-height: 250px;
    text-align: left;
    margin: 70px 0 100px;
      margin-left: 30px;
    box-sizing: padding-box; }
    @media screen and (max-width: 990px) {
      .team.image-left {
        padding-left: 300px; } }
    @media screen and (max-width: 640px) {
      .team.image-left {
        padding-left: 0;
        text-align: center; } }
    .team.image-left .team-image {
      width: 260px;
      height: 260px;
      border: 10px solid #dedede;
      position: absolute;
      left: 0;
      top: 0; }
      @media screen and (max-width: 640px) {
        .team.image-left .team-image {
          position: relative;
          margin: 0 auto 30px; } }
      .team.image-left .team-image img {
        width: 100%;
        max-width: 100%; }
    .team.image-left .team-name {
      text-transform: uppercase;
      color: #f63f3f;
      font-size: 24px;
      font-size: 1.5em; }
    .team.image-left .team-desc {
      display: block;
      margin-bottom: 20px; }
    .team.image-left .team-social a {
      width: 45px;
      height: 45px;
      line-height: 2.4;
      font-size: 20px;
      font-size: 1.25em; }

.content .entry-title {
  font-size: 36px;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.5;
  margin: 50px 0; 
margin-left: 50px;
margin-right: 50px;}
.content p {
  font-size: 18px;
  font-size: 1.125em;
    margin-left: 50px;
margin-right: 50px;
  line-height: 1.5;
  font-weight: 100;
  margin-bottom: 40px; }
.content figure {
  text-align: center;
  margin-bottom: 40px; }
  .content figure img {
    max-width: 100%;
    height: auto; }
  .content figure.block img {
    width: 100%;
    max-width: 100%;
    height: auto; }

/* feature */